body {
   background-image: url("https://cdn.wallpapersafari.com/47/52/Ewd4mk.jpg");
   background-repeat: no-repeat;
   width=1000
   p.normal {
      font-style: normal;
   }
   p.italic {
      font-style: italic;
   }
   p.oblique {
      font-style: oblique;
   }
}

